<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="00c82060-06de-4a84-a108-57fcd44f388c" wadlVersion="http://wadl.dev.java.net/2009/02" name="Reqres in" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="00c82060-06de-4a84-a108-57fcd44f388cfileName">Reqres-in</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://reqres.in</con:endpoint>
  </con:endpoints>
</con:interface>
