<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c4d2a05e-7b65-4b53-8b16-1265b65a6236" name="Github" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c4d2a05e-7b65-4b53-8b16-1265b65a6236fileName">Github1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>nome_repositorio</con:name>
      <con:value>Repositorio-Global</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="81b747af-2baa-468e-b3a3-714e0b82f20b">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>096401b6-b557-4bcb-b3af-b39d5a30c6f0</con:tagId>
  <con:tagId>f4c4dcc0-0801-46bf-a0d0-b83f57c0ec61</con:tagId>
  <con:tagId>a3931b8f-e5e4-4a0e-8556-fe7ca96b0a6d</con:tagId>
</con:testSuite>
