<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="579e061b-9f81-4a2c-83b1-32d4bbab1e51" activeEnvironment="Default environment" name="Rest APIs" resourceRoot="" soapui-version="5.4.0" abortOnError="false" runType="SEQUENTIAL" encryptionMode="Not encrypted" updated="2.6.0" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="579e061b-9f81-4a2c-83b1-32d4bbab1e51fileName">Countries-API</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>client_id</con:name>
      <con:value>e50a2b829cdc4b684691</con:value>
    </con:property>
    <con:property>
      <con:name>client_secret</con:name>
      <con:value>010fb15320261dbf3bf2584dd0579531cbcf38e5</con:value>
    </con:property>
    <con:property>
      <con:name>github_user</con:name>
      <con:value>basedoissoapui</con:value>
    </con:property>
    <con:property>
      <con:name>token</con:name>
      <con:value>15a2177f6a61c50b1190509b5e49a132e8ea3cb8</con:value>
    </con:property>
    <con:property>
      <con:name>repository</con:name>
      <con:value>mateca</con:value>
    </con:property>
    <con:property>
      <con:name>user</con:name>
      <con:value>basedoissoapui</con:value>
    </con:property>
    <con:property>
      <con:name>token_id</con:name>
      <con:value>274357070</con:value>
    </con:property>
    <con:property>
      <con:name>bearer</con:name>
      <con:value>bearer</con:value>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer>
    <con:oAuth2Profile>
      <con:name>Profile 1</con:name>
      <con:type>OAuth 2.0</con:type>
      <con:accessToken>TEetetet</con:accessToken>
      <con:accessTokenPosition>HEADER</con:accessTokenPosition>
      <con:oAuth2Flow>AUTHORIZATION_CODE_GRANT</con:oAuth2Flow>
      <con:refreshAccessTokenMethod>AUTOMATIC</con:refreshAccessTokenMethod>
      <con:accessTokenStatus>UNKNOWN</con:accessTokenStatus>
      <con:accessTokenStartingStatus>ENTERED_MANUALLY</con:accessTokenStartingStatus>
      <con:manualAccessTokenExpirationTime/>
      <con:manualAccessTokenExpirationTimeUnit>SECONDS</con:manualAccessTokenExpirationTimeUnit>
    </con:oAuth2Profile>
  </con:oAuth2ProfileContainer>
  <con:oAuth1ProfileContainer/>
  <con:authRepository/>
  <con:tags/>
  <con:sensitiveInformation/>
</con:soapui-project>
