<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="579e061b-9f81-4a2c-83b1-32d4bbab1e51" activeEnvironment="SoapUI Integration " name="Rest APIs" resourceRoot="" soapui-version="5.4.0" abortOnError="false" runType="SEQUENTIAL" encryptionMode="Not encrypted" updated="2.6.0" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="579e061b-9f81-4a2c-83b1-32d4bbab1e51fileName">Countries-API</con:setting>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>client_id</con:name>
      <con:value>e50a2b829cdc4b684691</con:value>
    </con:property>
    <con:property>
      <con:name>client_secret</con:name>
      <con:value>010fb15320261dbf3bf2584dd0579531cbcf38e5</con:value>
    </con:property>
    <con:property>
      <con:name>github_user</con:name>
      <con:value>basedoissoapui</con:value>
    </con:property>
    <con:property>
      <con:name>token</con:name>
      <con:value>c7c6933911c81c87728e5ce26c25345a622ac8fd</con:value>
    </con:property>
    <con:property>
      <con:name>repository</con:name>
      <con:value>mateca</con:value>
    </con:property>
    <con:property>
      <con:name>user</con:name>
      <con:value>basedoissoapui</con:value>
    </con:property>
    <con:property>
      <con:name>token_id</con:name>
      <con:value>274358321</con:value>
    </con:property>
    <con:property>
      <con:name>bearer</con:name>
      <con:value>bearer</con:value>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer>
    <con:oAuth2Profile>
      <con:name>Profile 1</con:name>
      <con:type>OAuth 2.0</con:type>
      <con:accessToken/>
      <con:accessTokenPosition>HEADER</con:accessTokenPosition>
      <con:oAuth2Flow>AUTHORIZATION_CODE_GRANT</con:oAuth2Flow>
      <con:refreshAccessTokenMethod>AUTOMATIC</con:refreshAccessTokenMethod>
      <con:accessTokenStartingStatus>ENTERED_MANUALLY</con:accessTokenStartingStatus>
      <con:manualAccessTokenExpirationTime/>
      <con:manualAccessTokenExpirationTimeUnit>SECONDS</con:manualAccessTokenExpirationTimeUnit>
    </con:oAuth2Profile>
  </con:oAuth2ProfileContainer>
  <con:oAuth1ProfileContainer/>
  <con:environment id="3b02ae04-8333-4203-ab48-bd09606bf852" name="SoapUI Integration ">
    <con:service type="REST" name="Paises">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">https://restcountries.eu</con:endpoint>
    </con:service>
    <con:service type="REST" name="Github">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">https://api.github.com</con:endpoint>
    </con:service>
    <con:service type="REST" name="Reqres in">
      <con:endpoint authProfile="No Authorization">https://reqres.in</con:endpoint>
    </con:service>
    <con:property>
      <con:name>client_id</con:name>
      <con:value>e50a2b829cdc4b684691</con:value>
    </con:property>
    <con:property>
      <con:name>client_secret</con:name>
      <con:value>010fb15320261dbf3bf2584dd0579531cbcf38e5</con:value>
    </con:property>
    <con:property>
      <con:name>github_user</con:name>
      <con:value>basedoissoapui</con:value>
    </con:property>
    <con:property>
      <con:name>token</con:name>
      <con:value>d2ae247a12c4192565416fc11815faba40e9a01b</con:value>
    </con:property>
    <con:property>
      <con:name>repository</con:name>
      <con:value>mateca</con:value>
    </con:property>
    <con:property>
      <con:name>user</con:name>
      <con:value>basedoissoapui</con:value>
    </con:property>
    <con:property>
      <con:name>token_id</con:name>
      <con:value>274377695</con:value>
    </con:property>
    <con:property>
      <con:name>bearer</con:name>
      <con:value>bearer</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="8ede968f-a6b8-415d-a111-b66accedcc1c" name="SoapUI Integration2">
    <con:service type="REST" name="Paises">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">https://restcountries.eu</con:endpoint>
    </con:service>
    <con:service type="REST" name="Github">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">https://api.github.com</con:endpoint>
    </con:service>
    <con:service type="REST" name="Reqres in">
      <con:endpoint authProfile="No Authorization"/>
    </con:service>
    <con:property>
      <con:name>client_id</con:name>
      <con:value>815946517992fa8cb1ef</con:value>
    </con:property>
    <con:property>
      <con:name>client_secret</con:name>
      <con:value>0abcf1ca334ecdbbc296f6b4f40480e98e4c46e4</con:value>
    </con:property>
    <con:property>
      <con:name>github_user</con:name>
      <con:value>basedoissoapui</con:value>
    </con:property>
    <con:property>
      <con:name>token</con:name>
      <con:value>8b096b89423894ee6913296c484cd898c57f9c0d</con:value>
    </con:property>
    <con:property>
      <con:name>repository</con:name>
      <con:value>mateca</con:value>
    </con:property>
    <con:property>
      <con:name>user</con:name>
      <con:value>basedoissoapui</con:value>
    </con:property>
    <con:property>
      <con:name>token_id</con:name>
      <con:value>274369120</con:value>
    </con:property>
    <con:property>
      <con:name>bearer</con:name>
      <con:value>bearer</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:environmentSpec>
    <con:entry environmentId="81b747af-2baa-468e-b3a3-714e0b82f20b">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags>
    <con:tag>
      <con:id>41b2f9e1-c055-4d88-88b6-051ec662ac0d</con:id>
      <con:name>Paises</con:name>
    </con:tag>
    <con:tag>
      <con:id>096401b6-b557-4bcb-b3af-b39d5a30c6f0</con:id>
      <con:name>Github</con:name>
    </con:tag>
    <con:tag>
      <con:id>f4c4dcc0-0801-46bf-a0d0-b83f57c0ec61</con:id>
      <con:name>Sequencial</con:name>
    </con:tag>
    <con:tag>
      <con:id>a3931b8f-e5e4-4a0e-8556-fe7ca96b0a6d</con:id>
      <con:name>token</con:name>
    </con:tag>
    <con:tag>
      <con:id>e4ebffaa-0823-4434-a671-0b50bd85a4ad</con:id>
      <con:name>paralelo</con:name>
    </con:tag>
  </con:tags>
  <con:sensitiveInformation/>
</con:soapui-project>
