<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c05c2025-e4db-4e18-8c44-7ed114053763" name="Paises - Pesquisar" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="c05c2025-e4db-4e18-8c44-7ed114053763fileName">Paises---Pesquisar</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>PARALLELL</con:runType><con:properties/><con:reportParameters/></con:testSuite>